# Backend dependencies
fastapi==0.115.8
uvicorn[standard]==0.30.6
python-multipart==0.0.13
SQLAlchemy==2.0.36
alembic==1.14.1
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
boto3==1.35.82
PyYAML==6.0.2
httpx==0.27.2
pytest==8.3.4
testcontainers==4.8.1
minio==7.2.15
jsonschema==4.23.0
tensorboard
jupyterlab
psycopg2-binary

# Runner dependencies
gymnasium==0.29.1
pettingzoo==1.24.3
pygame==2.5.2
supersuit==3.9.2
stable-baselines3==2.2.1
imitation>=0.4.0
gym==0.26.2
torch>=2.1.2
numpy<2.0.0
pandas
pyyaml
requests
pydantic
psutil
optuna>=3.0.0
opencv-python-headless
moviepy
nvidia-ml-py
tensorboard
h5py
